<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MyBeautifulApp</title>
    <!--- Container for metadata(is not displayed)
        Title,Styles,Link,Scripts,Meta and others

        -->

    <meta name="Mustafa">

</head>

<body>
Welcome to india !!!!

    <h1>Spring Boot</h1>
    <h2>Spring Boot</h2>

    <h1 align="Center" style="color: #0000ff">Spring FrameWork</h1>
    
    <img src="springboot.png" alt="Spring Boot Image">

    <ul>
        <li>MVC</li>
        <li>API</li>
        <li>ORM</li>
    </ul>

    <a href="https://amazon.com">Amazon</a>

    <table>
        <thead>Example Head</thead>
        <tr>
        <td>Collection</td>
        <td>Loops</td>
        <td>Stream</td>
        </tr>
        <tr>
            <td>API</td>
            <td>IoC</td>
            <td>Pop Up</td>
        </tr>
    </table>

    <!--Forms-->
    <label>User Name:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="password"><br>
    <label>Enter Your Comments:</label>
    <textarea name="comments"></textarea><br>


    <label>Please select fav subject:</label><br>

    <input type="radio" name="Spring" value="IoC" checked="checked">IoC
    <input type="radio" name="Spring" value="DI">DI

    <label>Please Select your Company:</label><br>
    <input type="checkbox" name="company" value="BoA">BoA
    <input type="checkbox" name="company" value="SouthWest Airlines">SWA
    <input type="checkbox" name="company" value="Limited">LTD<br>


    <label>Select your car:</label><br>
    <select name="cars">
        <option value="Honda">Honda</option>
        <option value="Nissan">Nissan</option>
        <option value="BMW">BMW</option>
    </select>


    <form action="#" method="get">
        First name:<input type="text" name="first_name"/>
        <br>
        Last Name: <input type="text" name="last_name"/>

    </form>

    <div>

        <h3>This is Java developing practice</h3>
        <ul>
            <li>Spring Framework</li>
            <li>Security</li>
            <li>Unit Testing</li>
        </ul>
    </div>


</body>




</html>